label {
    padding-inline-end: 1rem;
}

.container {
    margin-block: 3rem;
}

.form-group + .form-group{
    padding-inline-start: 2rem;
}

.output {
    background-color: hsl(0, 0%, 96%);
    border: solid 1px hsl(0, 0%, 80%);
    border-radius: 0.5rem;
    padding: 0.5rem;
}